<!--include current_or_guest_user
include guest_user
include logging_in
include create_guest_user -->

<h1>Hello Rails..!!</h1>
<h2> Welcome Gagan's Blog</h2>
<style>
.menus a{
			padding-right: 10px;
			color: blue;
			font-size: 15px;
		}
img {
    -webkit-box-shadow: 3px 3px 3px #7C7C7C;
    box-shadow: 5px 5px 5px #7C7C7C;
    }
</style>
<%= image_tag "photo.jpg", size: "109x106" %>
