<style>

h1{
	color: blue;
	padding-top: 8px;
	padding-left: 8px;
  }

.box   {
			width:170px;
			height:35px;
			background-color:yellow;
			box-shadow: 10px 10px 5px #888888;
			border-radius: 10px;
		}

</style>
<div class="box">
<h1>Contacts Us</h1></div>
<br><br>	

<%= render 'form' %>