<html>

<body>

<div id="header" style="background-color:#FFA500;border-radius:10px;">
		<h1 style="text-align:center;margin-bottom:5px;line-height: 30px;"> About Us..</h1>
	</div>
	
	<div id="content"  style="height:750px; width:1200px;padding:10px;border-radius:15px;border:8px solid blue;background-color:green;font-size:12pt;color:white;">
Priya Softweb Solutions is a custom software development company that serves clients of all sizes. We have a strong performance record in offering quality software development services demonstrated by ISO 9001:2008 certification and Microsoft Gold Certified partnership. We deliver end-to-end business solutions to maximize return on investment for our reputed clientele. We are a process focused company leveraging best of breed methodologies to enable our clients realize superior business performance.
<p><div id="content">
Our robust IT solutions not only help our clients strengthen their global footprint but also stay ahead of their competitors. We have a team of software developers with rich experience and deep technical expertise to deliver bespoke solutions to you.</p></div></div>
</div>
</body>

</html>